<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.another">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActivityD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="demo.intent.action.D" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--android:launchMode="singleTask"-->
        <!--android:taskAffinity="com.demo.another.e"-->
        <activity
            android:name=".ActivityE"
            android:exported="true">
            <intent-filter>
                <action android:name="demo.intent.action.E" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityF"
            android:exported="true">
            <intent-filter>
                <action android:name="demo.intent.action.F" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
